EDA y limpieza de datos

Carga de librerías

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

Carga de datos

In [6]:
df_beh=pd.read_csv ("Proyectos semanales/Vanguard/df_beh.txt")

In [43]:
df_beh

,client_id,visitor_id,visit_id,process_step,date_time,Variation,time_spent,step_number,is_error
0,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36,UN,NaT,1,False
1,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45,UN,0 days 00:00:09,2,False
2,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31,UN,0 days 00:00:46,3,False
3,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05,UN,0 days 00:01:34,4,False
4,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09,UN,0 days 00:01:04,5,False
...,...,...,...,...,...,...,...,...,...
449826,9999839,948322592_28990736246,715530422_68620416793_515645,start,2017-03-29 12:11:32,UN,0 days 00:02:37,1,False
449827,9999839,948322592_28990736246,715530422_68620416793_515645,step_1,2017-03-29 12:11:35,UN,0 days 00:00:03,2,False
449828,9999839,948322592_28990736246,715530422_68620416793_515645,step_2,2017-03-29 12:11:50,UN,0 days 00:00:15,3,False
449829,9999839,948322592_28990736246,715530422_68620416793_515645,step_3,2017-03-29 12:12:28,UN,0 days 00:00:38,4,False
449830,9999839,948322592_28990736246,715530422_68620416793_515645,confirm,2017-03-29 12:13:03,UN,0 days 00:00:35,5,False

In [29]:
df_beh['time_spent'] = df_beh['time_spent'].fillna('0')

In [38]:
df_beh_ex = df_beh[df_beh['Variation'] != 'UN']

In [39]:
df_beh_ex

,client_id,visitor_id,visit_id,process_step,date_time,Variation,time_spent,step_number,is_error
5,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,Test,NaT,1,False
6,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,Test,0 days 00:00:07,2,False
7,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,Test,0 days 00:00:32,3,False
8,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,Test,0 days 00:01:39,4,False
9,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,Test,0 days 00:00:20,5,False
...,...,...,...,...,...,...,...,...,...
449820,9999729,834634258_21862004160,870243567_56915814033_814203,step_2,2017-05-08 16:08:40,Test,0 days 00:00:10,3,False
449821,9999729,834634258_21862004160,870243567_56915814033_814203,step_3,2017-05-08 16:09:19,Test,0 days 00:00:39,4,False
449822,9999729,834634258_21862004160,870243567_56915814033_814203,confirm,2017-05-08 16:09:40,Test,0 days 00:00:21,5,False
449823,9999832,145538019_54444341400,472154369_16714624241_585315,start,2017-05-16 16:46:03,Test,NaT,1,False
449824,9999832,145538019_54444341400,472154369_16714624241_585315,step_1,2017-05-16 16:46:11,Test,0 days 00:00:08,2,False

In [40]:
df_beh_ex['time_spent'] = df_beh_ex['time_spent'].fillna('0')

/var/folders/sp/p06qbz7d3qd0gsdys45vg8x80000gn/T/ipykernel_21849/3122511813.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_beh_ex['time_spent'] = df_beh_ex['time_spent'].fillna('0')

In [42]:
#df_beh.to_csv('Proyectos semanales/Vanguard/df_beh.txt', index=False)

Creamos dos df según son el grupo de test o de control

In [10]:
df_test = df_beh[df_beh['Variation'] == 'Test']
df_control = df_beh[df_beh['Variation'] == 'Control']

Análisis del comportamiento de los usuarios

1. Tasa de Finalización

In [14]:
final_step_users_test = df_test[df_test['process_step'] == 'confirm']['client_id'].nunique()
total_users = df_test['client_id'].nunique()

completion_rate_test = final_step_users_test / 70609
print(f"Tasa de finalización: {completion_rate_test:.2%}")

Tasa de finalización: 26.47%

In [16]:
final_step_users_control = df_control[df_control['process_step'] == 'confirm']['client_id'].nunique()
total_users = df_control['client_id'].nunique()

completion_rate_control = final_step_users_control / 70609
print(f"Tasa de finalización: {completion_rate_control:.2%}")

Tasa de finalización: 21.86%

In [ ]:
2. Tiempo Dedicado a Cada Paso

In [33]:
# Revisar que la columna de tiempo esta en formato datetime
df_beh['date_time'] = pd.to_datetime(df_beh['date_time'])

# Ordenar por cliente y fecha para calcular la diferencia de tiempo entre pasos
df_beh.sort_values(by=['client_id', 'date_time'], inplace=True)

# Calcular la diferencia de tiempo
df_beh['time_spent'] = df_beh.groupby('client_id')['date_time'].diff()

# Calcular el tiempo medio dedicado a cada paso
average_time_per_step = df_beh.groupby('process_step')['time_spent'].mean()

print("Tiempo promedio dedicado a cada paso:")
print(average_time_per_step)

Tiempo promedio dedicado a cada paso:
process_step
confirm   1 days 00:24:15.330060473
start     3 days 15:30:50.642098449
step_1    0 days 00:29:20.193023912
step_2    0 days 00:01:14.071613535
step_3    0 days 00:11:29.029775618
Name: time_spent, dtype: timedelta64[ns]

3. Tasas de Error

In [34]:
# Definir un orden numérico a cada paso
step_order = {'start': 1, 'step_1': 2, 'step_2': 3, 'step_3': 4, 'confirm': 5} 

df_beh['step_number'] = df_beh['process_step'].map(step_order)

# Marcar si cada paso es un error (retorno a un paso anterior)
df_beh['is_error'] = df_beh.groupby('client_id')['step_number'].diff() < 0

# Calcular la tasa de error por paso
error_rates = df_beh[df_beh['is_error']].groupby('process_step').size() / df_beh.groupby('process_step').size()

print("Tasa de error por paso:")
print(error_rates)

Tasa de error por paso:
process_step
confirm         NaN
start      0.209578
step_1     0.084404
step_2     0.081763
step_3     0.003504
dtype: float64

In [71]:
#df_users.to_csv('Proyectos semanales/Vanguard/df_users.txt', index=False)